<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title><%= app_title %> - Dashboard - Nøclick.nøscreen_</title>

<link rel="stylesheet" href="css/bootstrap.min.css">
<style>
    body    { padding-top:50px; }
    .pupitre { width:100px; margin-top:20px; margin-bottom: 20px; padding-left: 10px; padding-right: 10px; }
</style>
